.card{
    display: inline-block;
}
.card-title{
    text-align: center;
}


.small-text{
    font-size: 12px;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.gender{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;

}

i{
    font-size: x-large;
}

.fa-person-dress{
    color: palevioletred;
}

.fa-person{
    color: rgb(94, 94, 218);
}

p{
    font-size: 12px;
    font-weight: bold;
}
